* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ebebeb;
  font-family: sans-serif;
}
.hamburger-btn {
  background-color: #ebebeb;
  position: absolute;
  right: 50px;
  top: 20px;
  border: none;
  cursor: pointer;
}
.hamburger-btn:hover {
  svg {
    fill: black;
  }
}
.close {
  cursor: pointer;
  border: none;
  background-color: white;
  position: absolute;
  right: 20px;
  top: 20px;
}
.close:hover {
  svg {
    fill: black;
  }
}
.hidden-sidebar {
  background-color: white;
  width: 500px;
  height: 100vh;
  padding-top: 18px;
  transform: translate(-100%);
  transition: all 0.6s ease-out;
  position: fixed;
  left: 0;
  top: 0;
}
.show-sidebar {
  transform: translate(1%);
  transition: all 0.6s ease-in-out;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  list-style: none;
}
li {
  color: grey;
  font-size: 25px;
  font-weight: 300;
  cursor: pointer;
  padding: 15px;
}
li:hover {
  background-color: rgb(248, 165, 165);
  padding-left: 20px;
  width: 100%;
  transition: all 0.5s ease;
}
