* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ebebeb;
  font-family: sans-serif;
}
.sidebar {
  position: absolute;
  right: 50px;
  top: 20px;
  border: none;
  cursor: pointer;
}
.close {
  cursor: pointer;
  border: none;
  background-color: white;
}
.hidden-bar {
  background-color: white;
  width: 500px;
  height: 100vh;
  /* transform: translate(-100%); */
  transition: all 1s ease-in;
  position: fixed;
  left: 0;
  top: 0;
}
.show-sidebar {
  transform: translate(100%);
}
ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  margin-left: 20px;
  list-style: none;
}
li {
  color: grey;
  font-size: 25px;
  font-weight: 300;
  cursor: pointer;
}
.contact:hover {
  background: #f8a5a5;
}
